
#navbar{
    background-color: rgb(94, 195, 223);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flexName{
    color: rgb(128, 22, 43);
    font-weight: 900;
    font-size: 40px;
}